.git
.gitignore
.DS_Store
node_modules
**/node_modules
dist
**/dist
build
.venv
**/.venv
venv
**/venv
__pycache__
**/__pycache__
.pytest_cache
**/.pytest_cache
.mypy_cache
**/.mypy_cache
.ruff_cache
**/.ruff_cache
.env
tmp
coverage
